@import '../../../Styles/mixins';

.profile_nav_btn {
  height: 60px;
  color: #767676;
  @include rounded;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #F2F3F8;
    color: #141c23;

    .caret {
      visibility: visible;
    }
  }
}

.caret {
  visibility: hidden;
}

.active {
  @include rounded;
  .profile_nav_btn {
    color: #31515E;
    background-color: #FBE8E9;
    cursor: default;
    &:hover {
        color: #141c23;
      }
  }

  .caret {
    visibility: visible;
  }

 
}
